.badge {
    --cc-bg: var(--b3);
    --cc-c: var(--bc);
    min-width: 1.6em;
    font-size: var(--badge-f-size,0.65em);
    line-height: initial;
    @apply px-1 py-px colorize rounded-badge;
}

:where(.indicator) .indicator__item {

    --cc-bg: var(--b3);
    --cc-c: var(--bc);
    font-size: var(--badge-f-size,0.65em);
    line-height: initial;
    padding: 0.15em;
    border-radius: 9999px;
    @apply colorize;
}
:where(.indicator__item.indicator--dot){
    height: 1em;
    width: 1em;
    aspect-ratio: 1;
    border: 0.2em solid;
}
:where(.indicator__item.indicator--dot[class*='w-']){
    height: auto;
    width: 1em;
}
:where(.indicator__item.indicator--dot[class*='h-']){
    height: 1em;
    width: auto;
}
