/* .checkbox {
    --size: 1.27rem;
    @apply relative appearance-none;
    width: var(--size);
    height: var(--size);
    --cc-bg: var(--n);
    --cc-c: var(--nc);
    &:before {
        inset: -1px;
        --tw-bg-opacity: 0;
        background-color: hsla(var(--cc-bg)/var(--tw-bg-opacity, 1));
        border-color: hsla(var(--cc-bg) / 1);
        content: "";
        position: absolute;
        border-width: calc(var(--size)/12);
        border-style: solid;
        border-radius: var(--rounded-check,5px);
        @apply transition-all duration-200;
    }
    &:after {
        left: 25%;
        top: -10%;
        content: "";
        position: absolute;
        width: calc(var(--size)/2);
        height: calc(var(--size) + 2px);
        transform: rotate(45deg) scale(.4);
        border-bottom: calc(var(--size)/5) solid;
        border-right: calc(var(--size)/5) solid;
        border-color: transparent;
        border-radius: 3px;
        @apply transition-all duration-200;
    }
    &:not(:disabled):not(:checked):hover {
        &:after {
            --tw-border-opacity: 0.2;
            border-color: hsla(var(--cc-bg)/var(--tw-border-opacity, 1));
        }
    }
    &:checked {
        &:before {
            @apply bg-opacity-100;
        }
        &:after {
            --tw-border-opacity: 1;
            border-color: hsla(var(--cc-c)/var(--tw-border-opacity, 1));
            transform: rotate(45deg) scale(.7);
        }
    }
    &:focus-visible, &:checked:focus-visible, &:checked:hover:focus-visible {
        &:before{
            box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--cc-bg));
        }
    }

    &:disabled, &:disabled:hover {
        &:before {
            @apply border-transparent cursor-not-allowed bg-opacity-20;
            --cc-bg:var(--bc);
        }
        &:after{
            @apply cursor-not-allowed;
        }
        &:checked {
            &:after {
                --cc-c:var(--b1);
            }
        }
    }
} */
/* New */
.checkbox{
    --size: 1.25rem;
    --cc-bg: var(--bc);
    --cc-c: var(--b1);
    height: var(--size);
    width: var(--size);
    border-color: hsla(var(--cc-bg) / var(--tw-border-opacity));
    border-width: 0.15em;
    @apply border-opacity-50 appearance-none cursor-pointer rounded-btn;
    &:focus-visible {
        box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--cc-bg));
    }
    &:checked{
        @apply bg-no-repeat;
        background-color: hsla(var(--cc-bg) / var(--tw-bg-opacity,1));
        color: hsla(var(--cc-c) / var(--tw-text-opacity,1));
      animation: checkmark var(--animation-input, .2s)  ease-in-out;
      background-image:
        linear-gradient(-45deg, transparent 65%, hsl(var(--cc-bg)) 65%),
        linear-gradient(45deg, transparent 75%, hsl(var(--cc-bg)) 75%),
        linear-gradient(-45deg, hsl(var(--cc-bg)) 40%, transparent 40%),
        linear-gradient(45deg, hsl(var(--cc-bg)) 30%, hsl(var(--cc-c)) 30%, hsl(var(--cc-c)) 40%, transparent 40%),
        linear-gradient(-45deg, hsl(var(--cc-c)) 50%, hsl(var(--cc-bg)) 50%);
    }
    &:disabled{
        --cc-bg:var(--bc);
        background-color: hsl(var(--cc-bg));
      @apply border-transparent cursor-not-allowed opacity-20;
    }
  }

  @keyframes checkmark {
    0% {
      background-position-y: 5px;
    }
    50% {
      background-position-y: -2px;
    }
    100% {
      background-position-y: 0;
    }
  }
