
/* New */
.checkbox{
    --size: 1.25rem;
    --cc-bg: var(--bc);
    --cc-c: var(--b1);
    height: var(--size);
    width: var(--size);
    border-color: hsla(var(--cc-bg) / var(--tw-border-opacity));
    border-width: 0.15em;
    @apply border-opacity-50 appearance-none cursor-pointer rounded-btn;
    &:focus-visible {
        box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--cc-bg));
    }
    &:checked{
        @apply bg-no-repeat;
        background-color: hsla(var(--cc-bg) / var(--tw-bg-opacity,1));
        color: hsla(var(--cc-c) / var(--tw-text-opacity,1));
      animation: checkmark var(--animation-input, .2s)  ease-in-out;
      background-image:
        linear-gradient(-45deg, transparent 65%, hsl(var(--cc-bg)) 65%),
        linear-gradient(45deg, transparent 75%, hsl(var(--cc-bg)) 75%),
        linear-gradient(-45deg, hsl(var(--cc-bg)) 40%, transparent 40%),
        linear-gradient(45deg, hsl(var(--cc-bg)) 30%, hsl(var(--cc-c)) 30%, hsl(var(--cc-c)) 40%, transparent 40%),
        linear-gradient(-45deg, hsl(var(--cc-c)) 50%, hsl(var(--cc-bg)) 50%);
    }
    &:disabled{
        --cc-bg:var(--bc);
        background-color: hsl(var(--cc-bg));
      @apply border-transparent cursor-not-allowed opacity-20;
    }
  }

  @keyframes checkmark {
    0% {
      background-position-y: 5px;
    }
    50% {
      background-position-y: -2px;
    }
    100% {
      background-position-y: 0;
    }
  }
