.listicles {
    @apply rounded-box;
}

.listicle {
    /* --tw-bg-opacity:1; */
    /* --tw-text-opacity:1; */
    /* --cc-bg:var(--b1); */
    /* --cc-c:var(--bc); */
    border-radius: inherit;
    padding: 0.7rem 1rem;
    @apply colorize;
    &__support {
        font-size:0.65rem;
        @apply uppercase;
    }
    &__title {
        font-size:1rem;
        @apply font-semibold;
    }
    &__subtitle {
        font-size:0.85rem;
        line-height: normal;
        @apply font-light;
    }
    &__prepend{
        @apply mr-6;
    }
    &__append{
        @apply ml-6;
    }
}
