.menu {
    --cc-bg: var(--p);
    --cc-bg-f: var(--pf);
    --cc-c: var(--pc);
    :where(&&--horizontal&--bordered) :where(&__item) {
        @apply border-b-4 border-l-0;
    }
    :where(&&--horizontal) &__item &__item__prepend {
        margin-right: 0.5rem;
    }
    :where(&&--horizontal) &__item &__item__append {
        padding-left: initial;
        margin-left: 0.5rem;
    }
    &[class*="p-"] .menu__item {
        @apply rounded-btn;
    }
    &__item {
        @apply px-5 py-3 border-transparent whitespace-nowrap;
        &:focus-visible, &:hover {
            background-color: hsla(var(--cc-bg-f) / var(--tw-bg-opacity, 1));
            color: hsla(var(--cc-c) / var(--tw-text-opacity, 1));
        }
        :where(.menu:not(.menu--bordered)) &--active {
            @apply colorize;
        }
        :where(.menu.menu--bordered) &--active {
            --tw-border-opacity: 1;
            color: hsla(var(--cc-bg) / var(--tw-text-opacity, 1));
            border-color: hsla(var(--cc-bg) / var(--tw-border-opacity, 1));
        }
        &:active {
            background-color: hsla(var(--cc-bg-f) / var(--tw-bg-opacity, 1));
        }
        &--disabled, &[disabled] {
            @apply bg-transparent cursor-not-allowed text-opacity-20 border-opacity-20;
            color: hsla(var(--bc) / var(--tw-text-opacity));
            &:hover {
                background-color: transparent;
            }
        }
        :where(.menu--bordered:not(.menu--horizontal)) & {
            @apply bg-transparent border-b-0 border-l-4;
        }
        &__prepend {
            margin-right: 1.5rem;
        }
        &__append {
            padding-left: 1.5rem;
            margin-left: auto;
        }
    }
    .menu {
        @apply pl-6;
    }
    &--compact {
        .menu__item {
            @apply py-2;
            font-size: .75rem;
            line-height: 1.25rem;
        }
    }
    &__title {
        @apply px-5 py-1 text-xs font-bold text-opacity-40;
        color: hsla(var(--bc) / var(--tw-text-opacity));
    }
}
