.popover {
    @apply shadow-lg rounded-box;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --cc-bg: var(--b1);
    --cc-c: var(--bc);
    background-color: hsla(var(--cc-bg) / var(--tw-bg-opacity));
    color: hsla(var(--cc-c) / var(--tw-text-opacity));
}
