/* New */
.radio{
    --size:1.25rem;
    --cc-bg: var(--bc);
    --cc-c: var(--b1);
    --focus-shadow: 0 0 0;
    height: var(--size);
    width: var(--size);
    border: 0.15em solid hsla(var(--cc-bg) / var(--tw-border-opacity));
    @apply border-opacity-50 rounded-full appearance-none cursor-pointer;
    transition: background,box-shadow var(--animation-input, .2s) ease-in-out;
    &:focus-visible {
      --focus-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--cc-bg));
      outline:none;
      box-shadow:var(--focus-shadow);
    }
    &:checked{
      background-color: hsla(var(--cc-bg) / var(--tw-bg-opacity,1));
      color: hsla(var(--cc-c) / var(--tw-text-opacity,1));
      animation: radiomark var(--animation-input, .2s)  ease-in-out;
      box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset, var(--focus-shadow);
    }
    &:disabled{
      @apply cursor-not-allowed opacity-30;
    }
  }

  @keyframes radiomark {
    0% {
      box-shadow: 0 0 0 12px hsl(var(--b1)) inset, 0 0 0 12px hsl(var(--b1)) inset, var(--focus-shadow);
    }
    50% {
      box-shadow: 0 0 0 3px hsl(var(--b1)) inset, 0 0 0 3px hsl(var(--b1)) inset, var(--focus-shadow);
    }
    100% {
      box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset, var(--focus-shadow);
    }
  }
