.textarea {
    --rounded-input: var(--rounded-btn);
    --tw-border-opacity: 0.4;
    --cc-bg: var(--bc);
    --input-b-c: var(--cc-bg);
    --input-border: 1.5px;
    border-color: hsla(var(--input-b-c) / var(--tw-border-opacity));
    border-radius: var(--rounded-input);
    @apply bg-base-1;
    border-width: var(--input-border);
    &--borderless {
        @apply border-opacity-0;
    }
    &:not(:disabled):not([disabled]):not(&--disabled):not(&--ghost) {
        &:hover {
            --tw-border-opacity: 0.6;
            box-shadow: inset 0 0 0 var(--input-border) hsla(var(--input-b-c)/var(--tw-border-opacity));
        }
        &:focus, &:focus-within {
            --tw-border-opacity: 1;
            box-shadow: inset 0 0 0 var(--input-border) hsla(var(--input-b-c)/var(--tw-border-opacity));
        }
    }
    &--ghost {
        @apply border-opacity-0 bg-opacity-5;
        &:focus,&:focus-within {
            @apply bg-opacity-100;
            color:hsla(var(--bc)/var(--tw-text-opacity));
            box-shadow: none;
        }
    }
    &--disabled, &[disabled] {
        @apply cursor-not-allowed bg-base-2 text-opacity-20 placeholder-opacity-20;
        &:placeholder{
            --tw-placeholder-opacity:0.2;
            color:hsla(var(--bc) / var(--tw-placeholder-opacity));
        }
    }
}
