.tooltip {
    &__content {
        --tw-bg-opacity: 0.85;
        --tw-text-opacity: 1;
        --cc-bg: var(--n);
        --cc-c: var(--nc);
        background-color: hsla(var(--cc-bg) / var(--tw-bg-opacity));
        color: hsla(var(--cc-c) / var(--tw-text-opacity));
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: var(--tooltip-position, fixed);
        white-space: nowrap;
        max-width: 20rem;
        padding: var(--tooltip-padding, 0.375rem 0.5rem);
        font-size: 0.75rem;
        border-radius: 0.25rem;
    }
    @apply relative inline-block text-center;
    --tooltip-tail: 3px;
    --cc-bg: hsl(var(--n));
    --cc-c: hsl(var(--nc));
    --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));
}

.tooltip:before, .tooltip:after {
    @apply transition duration-200 ease-in-out delay-100 opacity-0;
}

.tooltip:after {
    @apply absolute;
}

.tooltip:before {
    @apply max-w-xs px-2 py-1 text-sm rounded;
    background-color: var(--cc-bg);
    color: var(--cc-c);
    width: max-content;
}

.tooltip.tooltip--open:before, .tooltip.tooltip--open:after, .tooltip:hover:before, .tooltip:hover:after {
    @apply delay-75 opacity-100;
}

.tooltip:after {
    content: '';
    border-style: solid;
    border-width: var(--tooltip-tail, 0);
    width: 0;
    height: 0;
    display: block;
    position: absolute;
}

.tooltip {
    &:after {
        transform: translateX(-50%);
        border-color: var(--cc-bg) transparent transparent transparent;
        top: auto;
        left: 50%;
        right: auto;
        bottom: var(--tooltip-tail-offset);
    }
}

.tooltip--bottom {
    &:after {
        transform: translateX(-50%);
        border-color: transparent transparent var(--cc-bg) transparent;
        top: var(--tooltip-tail-offset);
        left: 50%;
        right: auto;
        bottom: auto;
    }
}

.tooltip--left {
    &:after {
        transform: translateY(-50%);
        border-color: transparent transparent transparent var(--cc-bg);
        top: 50%;
        left: auto;
        right: calc(var(--tooltip-tail-offset) + 1px);
        bottom: auto;
    }
}

.tooltip--right {
    &:after {
        transform: translateY(-50%);
        border-color: transparent var(--cc-bg) transparent transparent;
        top: 50%;
        left: calc(var(--tooltip-tail-offset) + 1px);
        right: auto;
        bottom: auto;
    }
}
