.input {
    @apply flex-shrink transition duration-200 ease-in-out;
    @apply h-10 px-2 text-sm leading-loose;
    &:focus {
        @apply outline-none;
    }
    &__append, &__prepend {
        @apply inline-flex items-center;
    }
    &__append {
        padding-left: inherit;
    }
    &__prepend {
        padding-right: inherit;
    }
}

:where(.input) input {
    width: inherit;
    &:focus {
        outline: none;
    }
}

.input.input__container {
    height: auto;
    padding: 0.65em 0.5em;
    line-height: initial;
    display: flex;
    align-items: center;
    position: relative;
}
