.avatar {
    &.online, &.offline {
        &:before {
            content: '';
            @apply absolute block rounded-full;
            width: 15%;
            aspect-ratio: 1;
            top: 5%;
            right: 5%;
            box-shadow: 0 0 0 2px hsl(var(--b1));
        }
    }
    &.online {
        &:before {
            @apply bg-success;
        }
    }
    &.offline {
        &:before {
            @apply bg-base-300;
        }
    }
}
