/* device specific */
html{
  -webkit-tap-highlight-color: transparent;
}
:where([disabled]:not(.btn):not(.input):not(.textarea),[class*="--disabled"]:not(.btn):not(.input):not(.textarea)){
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
