@each $name, $short,$focus in (base-1, base-2, base-3), (b1, b2, b3),(b2,b3,b1) {
    .is-$(name) {
        --cc-bg: var(--$(short));
        --cc-bg-f: var(--$(focus));
        --cc-c: var(--bc);
    }
}

@each $name, $short in (primary, primary-1, primary-2, primary-3, primary-4, primary-5), (p,p1,p2,p3,p4,p5) {
    .is-$(name) {
        --cc-bg: var(--$(short),var(--p));
        --cc-bg-f: var(--$(short)f, var(--pf));
        --cc-c: var(--$(short)c, var(--pc));
    }
}

@each $name, $short in (secondary, secondary-1, secondary-2, secondary-3, secondary-4, secondary-5), (s,s1,s2,s3,s4,s5) {
    .is-$(name) {
        --cc-bg: var(--$(short),var(--s));
        --cc-bg-f: var(--$(short)f, var(--sf));
        --cc-c: var(--$(short)c, var(--sc));
    }
}

/* @each $name, $short in (accent, accent-1, accent-2, accent-3, accent-4, accent-5), (a,a1,a2,a3,a4,a5) {
    .is-$(name) {
        --cc-bg: var(--$(short),var(--a));
        --cc-bg-f: var(--$(short)f, var(--af));
        --cc-c: var(--$(short)c, var(--ac));
    }
} */

@each $name, $short in (neutral), (n) {
    .is-$(name) {
        --cc-bg: var(--$(short),var(--n));
        --cc-bg-f: var(--$(short)f, var(--nf));
        --cc-c: var(--$(short)c, var(--nc));
    }
}

@each $name, $short in (info, info-1, info-2, info-3, info-4, info-5), (in,in1,in2,in3,in4,in5) {
    .is-$(name) {
        --cc-bg: var(--$(short),var(--in));
        --cc-bg-f: var(--$(short)f, var(--cc-bg));
        --cc-c: var(--$(short)c, var(--b1));
    }
}

@each $name, $short in (success, success-1, success-2, success-3, success-4, success-5), (su,su1,su2,su3,su4,su5) {
    .is-$(name) {
        --cc-bg: var(--$(short),var(--su));
        --cc-bg-f: var(--$(short)f, var(--cc-bg));
        --cc-c: var(--$(short)c, var(--b1));
    }
}

@each $name, $short in (warning, warning-1, warning-2, warning-3, warning-4, warning-5), (wa,wa1,wa2,wa3,wa4,wa5) {
    .is-$(name) {
        --cc-bg: var(--$(short),var(--wa));
        --cc-bg-f: var(--$(short)f, var(--cc-bg));
        --cc-c: var(--$(short)c, var(--b1));
    }
}

@each $name, $short in (error, error-1, error-2, error-3, error-4, error-5), (er,er1,er2,er3,er4,er5) {
    .is-$(name) {
        --cc-bg: var(--$(short),var(--er));
        --cc-bg-f: var(--$(short)f, var(--cc-bg));
        --cc-c: var(--$(short)c, var(--b1));
    }
}
/*
@each $name, $short in (primary, secondary, accent, neutral, info, success, warning, error), (p, s, a, n, in, su, wa, er) {
    .is-$(name) {
        --cc-bg: var(--$(short));
        --cc-bg-f: var(--$(short)f, var(--cc-bg));
        --cc-c: var(--$(short)c, var(--b1));
    }
} */

.colorize {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: hsla(var(--cc-bg) / var(--tw-bg-opacity));
    color: hsla(var(--cc-c) / var(--tw-text-opacity));
}
.colorize-bg {
    --tw-bg-opacity: 1;
    background-color: hsla(var(--cc-bg) / var(--tw-bg-opacity));
}
.colorize-text {
    --tw-text-opacity: 1;
    color: hsla(var(--cc-bg) / var(--tw-text-opacity));
}
.inherit-colors{
    --cc-bg:var(--cc-bg-empty,/*!*/ /*!*/);
    --cc-bg-f:var(--cc-bg-f-empty,/*!*/ /*!*/);
    --cc-c:var(--cc-c-empty,/*!*/ /*!*/);
}
